In [36]:
# UN Immigration Data Cleaning and Transformation

#This notebook demonstrates how to clean and transform the UN Immigration dataset from its original wide format (years as columns) into a tidy long format (one row per region per year). 

#The dataset is sourced from the UN migration data:
#[Google Sheets Link](https://docs.google.com/spreadsheets/d/1OGs8KoHGEZDxyFdaxAKmZbeO1BiSWVQ6/edit?usp=drive_link&ouid=102808549239389741071&rtpof=true&sd=true)

---

## Project Overview
 #**Goal**: Transform UN immigration data into a long, tidy format.
# **Original format**: Years as columns, regions as rows.
# **Transformed format**: Columns: `Type`, `Coverage`, `AreaName`, `RegName`, `Year`, `Count`.

#This format allows easy analysis and visualization of migration trends across regions and years.

SyntaxError: invalid syntax (2634810642.py, line 8)

In [6]:
# Step 1: Import required libraries
import pandas as pd

In [ ]:
## Step 2: Load the Dataset

We will read the dataset directly from Google Sheets as a CSV file.

In [29]:
import pandas as pd

file_url = "https://docs.google.com/spreadsheets/d/1OGs8KoHGEZDxyFdaxAKmZbeO1BiSWVQ6/export?format=csv"


# Skip the first 3â€“4 metadata rows (adjust based on the sheet)
df = pd.read_csv(file_url, skiprows=21, header=None)
#df.columns = df.columns.str.strip()
columns = ['Type', 'Coverage', 'AreaName', 'RegName'] + [str(year) for year in range(1980, 2014)]
df.columns = columns
df.head()

print(df.columns.tolist())

['Type', 'Coverage', 'AreaName', 'RegName', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013']

In [30]:
## Step 3: Inspect the Data

#Check column names, data types, and missing values to understand the dataset structure.

In [31]:
# Check info and basic statistics
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 38 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      29 non-null     object
 1   Coverage  29 non-null     object
 2   AreaName  29 non-null     object
 3   RegName   24 non-null     object
 4   1980      29 non-null     object
 5   1981      29 non-null     object
 6   1982      29 non-null     object
 7   1983      29 non-null     object
 8   1984      29 non-null     object
 9   1985      29 non-null     object
 10  1986      29 non-null     object
 11  1987      29 non-null     object
 12  1988      29 non-null     object
 13  1989      29 non-null     object
 14  1990      29 non-null     object
 15  1991      29 non-null     object
 16  1992      29 non-null     object
 17  1993      29 non-null     int64
 18  1994      29 non-null     object
 19  1995      29 non-null     int64
 20  1996      29 non-null     int64
 21  1997      29 non-null     object
 22  1998      29 non-null     object
 23  1999      29 non-null     object
 24  2000      29 non-null     object
 25  2001      29 non-null     object
 26  2002      29 non-null     object
 27  2003      29 non-null     object
 28  2004      29 non-null     object
 29  2005      29 non-null     object
 30  2006      29 non-null     object
 31  2007      29 non-null     object
 32  2008      29 non-null     object
 33  2009      29 non-null     object
 34  2010      29 non-null     object
 35  2011      29 non-null     object
 36  2012      29 non-null     int64
 37  2013      0 non-null      float64
dtypes: float64(1), int64(4), object(33)
memory usage: 8.7+ KB

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,..,..,..,..,3,3,4,3,1,1,1,..,..,..,..,..,..,..,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,3237,4094,4404,6535,9729,7244,4046,4373,4254,3094,3056,3936,4825,4868,4049,5808,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,61,100,91,119,185,328,575,534,412,702,1080,871,1129,1456,1847,1852,1699,1929,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,2239,3574,4693,4745,4322,4119,4262,5875,6652,6304,5930,6706,8732,12201,11979,11355,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,1329,1319,911,834,1071,1567,2371,1474,1324,1737,1354,1492,1778,1912,1515,1258,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN

In [32]:
## Step 4: Clean the Data

# Strip whitespace from column names
df.columns = df.columns.str.strip()

# Replace '..' with NaN
df.replace('..', pd.NA, inplace=True)

# Fill missing numeric values with 0
df.fillna(0, inplace=True)

# Display cleaned dataframe
df.head(10)

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,0,0,0,0,0,0,0,0,0,0,3,3,4,3,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0.0
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,3237,4094,4404,6535,9729,7244,4046,4373,4254,3094,3056,3936,4825,4868,4049,5808,7726,7083,6750,6669,6705,6922,8591,8956,8846,0.0
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,61,100,91,119,185,328,575,534,412,702,1080,871,1129,1456,1847,1852,1699,1929,2452,2802,2834,2951,3034,3255,3369,3146,4602,0.0
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,2239,3574,4693,4745,4322,4119,4262,5875,6652,6304,5930,6706,8732,12201,11979,11355,12478,11323,12705,11750,13456,16320,19271,15712,15453,0.0
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,1329,1319,911,834,1071,1567,2371,1474,1324,1737,1354,1492,1778,1912,1515,1258,1203,1012,1148,1230,1184,1235,1306,1049,1348,0.0
5,Immigrants,Foreigners,Africa,Western Africa,306,301,210,222,271,319,427,1316,656,788,819,1786,3545,3067,1981,2382,2390,2465,2322,2406,3164,3459,3468,3016,4333,5303,5751,5684,5511,6802,8355,6578,7834,0.0
6,Immigrants,Foreigners,Africa Total,0,3951,4363,3819,2671,2639,2650,3782,7494,7552,9894,11012,14228,19242,16531,13072,14806,15700,14471,13791,15996,20346,24292,22710,23366,28192,27523,29188,28284,29890,34534,40892,35441,38083,0.0
7,Immigrants,Foreigners,Asia,Central Asia,0,0,0,0,0,0,0,0,0,0,0,0,15,81,89,105,230,728,1052,717,619,728,706,825,995,1134,903,936,805,962,905,769,1029,0.0
8,Immigrants,Foreigners,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,3416,5403,5887,7796,10544,17364,15258,14543,17091,18726,23667,25521,27142,38665,44651,47564,40598,44886,43550,50306,41763,35591,39602,37497,37954,35159,40449,0.0
9,Immigrants,Foreigners,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,7801,10368,13542,19132,19713,21294,21775,29655,26847,21403,17844,14780,11503,12957,15174,18517,16769,16803,18056,22809,25105,27256,30614,34166,44199,40494,37695,0.0

In [33]:
# Melt the DataFrame
df_long = df.melt(
    id_vars=['Type', 'Coverage', 'AreaName', 'RegName'],
    var_name='Year',
    value_name='Count'
)
# Convert data types
df_long['Year'] = df_long['Year'].astype(int)
df_long['Count'] = df_long['Count'].astype(int)

# Display the first few rows of transformed data
df_long.head(10)

         Type    Coverage          AreaName             RegName  Year  Count
0  Immigrants    Citizens  Northern America    Northern America  1980      0
1  Immigrants  Foreigners            Africa      Eastern Africa  1980   1471
2  Immigrants  Foreigners            Africa       Middle Africa  1980     33
3  Immigrants  Foreigners            Africa     Northern Africa  1980   1100
4  Immigrants  Foreigners            Africa     Southern Africa  1980   1041
5  Immigrants  Foreigners            Africa      Western Africa  1980    306
6  Immigrants  Foreigners      Africa Total                   0  1980   3951
7  Immigrants  Foreigners              Asia        Central Asia  1980      0
8  Immigrants  Foreigners              Asia        Eastern Asia  1980   6836
9  Immigrants  Foreigners              Asia  South-Eastern Asia  1980   8693

In [34]:
# Save cleaned long-format dataset
df_long.to_csv("UN_Immigration_Cleaned.csv", index=False)